#about-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    color: var(--light-color);
    min-height: 80vh;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 10px 5px 15px rgba(0,0, 0, 0.06);
    margin-top: 100px;
}
#about-head .about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#about-head .about-text h1{
    font-family: my-Font;
    font-size: 6rem;
    color: #99ffcc;
}
#about-head .about-text h2 {
    font-family: my-Font;
    font-size: 4rem;
    width: 80%;
    text-align: center;
}

#about-head .about-text p {
    font-family: 20px;
    line-height: 1.5rem;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
}
@media screen and (max-width: 1040px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }

    /* navbar */
   
    /* about page */
    #about-head {
        color: var(--light-color);
        min-height: 30vh;
    }
    #about-head .about-text h1 {
        font-size: 4rem;
    }
    #about-head .about-text h2 {
        font-size: 3rem;
        width: 70%;
    }
    #about-head .about-text p {
        font-size: 20px;
        line-height: 20px;
        max-width: 90%;
    }

  
   
}

@media (max-width: 799px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }
/* about page */
     #about-head {
        color: var(--light-color);
        min-height: 30vh;
    }
    #about-head .about-text h1 {
        font-size: 3rem;
    }
    #about-head .about-text h2 {
        font-size: 2rem;
        width: 70%;
    }
    #about-head .about-text p {
        font-size: 14px;
        line-height: 20px;
        max-width: 90%;
        padding-top: 10px;
    }

    
}

@media screen and (max-width: 477px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }

   
    /* about */
    #about-head .about-text h1 {
        font-size: 2rem;
    }
    #about-head .about-text h2 {
        font-size: 1.5rem;
        width: 90%;
    }
    #about-head .about-text p {
        width: 100%;
        padding: 0px 0px;
        padding-top: 10px;
    }

}