button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.02s;
}
button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.02s;
}
body {
    width: 100%;
    min-height: 100vh;
    background: var(--body-color); /* #faf9f9; */
    overflow-x: hidden;
}
/* about page */
#about-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    color: var(--light-color);
    min-height: 80vh;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 10px 5px 15px rgba(0,0, 0, 0.06);
}
#about-head .about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#about-head .about-text h1{
    font-family: my-Font;
    font-size: 6rem;
    color: #99ffcc;
}
#about-head .about-text h2 {
    font-family: my-Font;
    font-size: 4rem;
    width: 80%;
    text-align: center;
}

#about-head .about-text p {
    font-family: 20px;
    line-height: 1.5rem;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
}

/* about pics */
.descriptive-pics{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    position: relative;
}
.descriptive-pics .contains-image {
    width: 100%;
    height: 100%;
}

.descriptive-pics .contains-image img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: -3;
}

.descriptive-pics .span-it {
    display: flex;
    position: absolute;
    top: 40px;
    color:  #ffcc99;
    max-width: 400px;
    margin-left: 50px;
    font-size: 5.5rem;
    font-family: my-Font;
    font-weight: 700;
}
.about-details {
    display: flex;
    flex-direction: column;
    padding: 80px 80px;
    width: 100%;
    min-height: 60vh;
    border-radius: 15px;
    box-shadow: 10px 5px 15px rgb(241, 241, 241);
    position: relative;
}
.about-details::before {
    content: '';
    position: absolute;
    width: 80%;
    margin: auto auto;
    height: 65%;
    background: #f2f8f5;
    top: 10%;
    left: 0;
    transform: skew(60deg);
    z-index: -3;
}
.about-details .vision,
.about-details .values {
    display: flex;
    width: 100%;
}
.about-details .vision h1,
.about-details .values h1 {
    font-size: 4rem;
    width: 35%;
    display: flex;
    text-align: left;
    font-family: my-Font;
    padding-right: 50px;
    color: var(--dark-color);
}

.about-details .vision,
.about-details .values {
    margin-bottom: 80px;
}
.about-details .values {
    margin-bottom: 60px;
}

.about-details .values h1 {
    margin-bottom: 0px;
}
.about-details .vision p ,
.about-details .values p{
    width: 50%;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    text-align: justify;
    color: var(--colored-border);
}

.about-details .div-button {
    background: #99ffcc;
    padding: 20px 20px;
    width: 15%;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
}

@keyframes hide {
    0%{ transform: rotateY(0deg) }
    100%{ transform: rotateY(90deg) }
}
.color {
    background: #1a1a1a;
    color: var(--light-color);
    border-radius: 10px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.color .contains-text p {
    color: var(--light-color);
}
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
}
.reveal.active4 {
    transform: translateY(0px);
    opacity: 1;
    transition: all 2s ease;
}

#pop-up {
    top: 0px;
    animation: pop-up 0.5s ease forwards;
}

@keyframes pop-up {
    0%{ }
    70%{ transform: translateY(50px)}
    100%{ transform: translateY(0px)}
}


@media screen and (max-width: 1040px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }

    /* navbar */
   
    /* about page */
    #about-head {
        color: var(--light-color);
        min-height: 30vh;
    }
    #about-head .about-text h1 {
        font-size: 4rem;
    }
    #about-head .about-text h2 {
        font-size: 3rem;
        width: 70%;
    }
    #about-head .about-text p {
        font-size: 20px;
        line-height: 20px;
        max-width: 90%;
    }

    /* about section2 */

    .descriptive-pics {
        height: 30vh;
    }
    .descriptive-pics .span-it {
        font-size: 4rem;
    }

    /* about rule */
    .about-details {
        padding: 40px 50px;
        min-height: 35vh;
    }
    .about-details .vision h1, .about-details .values h1 {
        font-size: 2.5rem;
        padding-right: 30px;
    }
    .about-details .vision p, .about-details .values p {
        width: 65%;
        font-size: 16px;
    }
    .about-details .div-button {
        padding: 15px 20px;
    }
   
}

@media (max-width: 799px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }
/* about page */
     #about-head {
        color: var(--light-color);
        min-height: 30vh;
    }
    #about-head .about-text h1 {
        font-size: 3rem;
    }
    #about-head .about-text h2 {
        font-size: 2rem;
        width: 70%;
    }
    #about-head .about-text p {
        font-size: 14px;
        line-height: 20px;
        max-width: 90%;
        padding-top: 10px;
    }

    /* about section2 */

    .descriptive-pics {
        height: 30vh;
    }
    .descriptive-pics .span-it {
        font-size: 3rem;
        max-width: 230px;
    }

    /* about rule */
    .about-details {
        padding: 40px 40px;
        min-height: 30vh;
    }
    .about-details .vision, .about-details .values {
        margin-bottom: 40px;
    }
    .about-details .vision h1, .about-details .values h1 {
        font-size: 2rem;
    }
    .about-details .vision p, .about-details .values p {
        font-size: 12px;
    }
    .about-details .div-button {
        padding: 10px 10px;
        width:15%;
        font-size: 14px;
    }

    /* news letter */
    #newsletter .form {
        width: 70%;
    }
    #newsletter h4 {
        font-size: 20px;
    }
    
}

@media screen and (max-width: 477px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }

   
    /* about */
    #about-head .about-text h1 {
        font-size: 2rem;
    }
    #about-head .about-text h2 {
        font-size: 1.5rem;
        width: 90%;
    }
    #about-head .about-text p {
        width: 100%;
        padding: 0px 0px;
        padding-top: 10px;
    }

    .descriptive-pics {
        height: 40vh;
    }
    .descriptive-pics .span-it {
        max-width: 200px;
        font-size: 2.5rem;
        margin-left: 30px;
    }
    .about-details {
        padding: 40px 20px;
    }
    .about-details .vision h1, .about-details .values h1 {
        font-size: 1.5rem;
        width: 40%;
    }
    .about-details .vision p, .about-details .values p {
        width: 60%;
        font-size: 12px;
        line-height: 16px;
    }
    /* newsletter */
}