.about-details {
    display: flex;
    flex-direction: column;
    padding: 80px 80px;
    width: 100%;
    min-height: 60vh;
    border-radius: 15px;
    position: relative;
    background: white;
}

.about-details .vision h1,
.about-details .values h1 {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: my-Font;
    color: var(--dark-color);
}

.about-details .vision p,
.about-details .values p {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    text-align: justify;
    color: var(--colored-border);
    margin-bottom: 20px;
}

.about-details .div-button {
    background: rebeccapurple;
    padding: 15px 0px;
    width: 10%;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
}

.about-details .div-button:hover {
    background: var(--dark-color);
}

@media screen and (max-width: 1040px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }

    .about-details {
        padding: 20px 20px;
        width: 100%;
        min-height: 28vh;
    }
    .about-details::before {
        height: 70%;
        top: 3%;
    }
   
    .about-details .vision h1, .about-details .values h1 {
        font-size: 3rem;
    }
    .about-details .vision p, .about-details .values p {
        font-size: 18px;
        line-height: 20px;
    }
}

@media (max-width: 799px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }
    /* about rule */
    .about-details {
        padding: 40px 20px;
        width: 100%;
        min-height: 30vh;
    }
    .about-details::before {
        height: 70%;
        top: 3%;
    }
   
    .about-details .vision h1, .about-details .values h1 {
        font-size: 3rem;
    }
    .about-details .vision p, .about-details .values p {
        font-size: 18px;
        line-height: 20px;
    }
    
}

@media screen and (max-width: 477px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }

    .about-details {
        padding: 40px 20px;
        width: 100%;
        min-height: 30vh;
    }

    .about-details::before {
        height: 0%;
        top: 3%;
        width:0%;
        background: #fff;
    }
    .about-details .vision h1, .about-details .values h1 {
        font-size: 2.2rem;
    }
    .about-details .vision p, .about-details .values p {
        font-size: 14px;
        line-height: 20px;
    }
    .about-details .div-button {
        padding: 10px 0px;
        width: 30%;

    }
    /* newsletter */
}