@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* ======globals===== */
* {
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --blue: #2a2185;
    --white: #fff;
    --purple: rebeccapurple;
    --purple2: rebeccapurple;
    --black1: #222;
    --black2: #999;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --tran-03: all 0.3s ease;
    --tran-05: all 0.5s ease;
    --white2: #fff;
    --white3: #fff;
    --dark: #1a1a1a;
    --purple3: rebeccapurple;
    --grey: #333;
    --purple4: rebeccapurple;
    --white4: #fff;
}


body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--white);
}

body.dark {
    --white: #222;
    --white3: #fff;
    --purple: #333;
    --primary-color-light: #3A3B3C;
    --purple2: #fff;
    --white2: rebeccapurple;
    --dark: #fff;
    --black2: #fff; 
    --grey: #fff;
    --purple4: white;
    --white4: rebeccapurple;
}

.choosen {
    width: 100%;
    padding: 40px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}
.choosen .num-of-questions {
    width: 100%;
}
.choosen .num-of-questions form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.choosen .num-of-questions label {
    font-weight: 500;
    color: var(--purple3);
    margin-bottom: 10px;
    font-size: 20px;
    width: 100%;
}

.choosen .num-of-questions input {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.3);
    background: var(--white3);
    color: var(--purple3);
    padding: 10px;
    margin: 20px 0px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
}

.choosen .num-of-questions form  input[type="text"]:focus {
    background: var(--white);
    color: var(--black2);
} 
.choosen .num-of-questions button {
    width: 150px;
    height: 50px;
    background: var(--dark2);
    color: var(--white3);
    margin: 0;
    font-size: 14px
}
.choosen h2 {
    color: var(--black1);
    padding-left: 5px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}


.choosen .question-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 10px; 
}
.choosen .question-details .label,
.choosen .question-details .imagelabel {
    font-weight: 500;
    color: var(--purple3);
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%;
}
.label::after {
    content: "*"; 
    color: #e35656;
    margin-left: 4px; 
  }


.choosen .question-details input[type="text"]:focus {
    background: var(--white);
    color: var(--black2);
    outline: none;
}
.choosen .question-details .new-input,
.choosen .question-details .textarea {
    background: var(--white);
    border: none;
    border: 1px solid var(--white2);
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 7px 25px var(--boxshadow);
    padding: 0px 20px;
    color: var(--black2);
    outline: none;
    font-size: 16px;
    cursor: pointer;
}
.choosen .question-details .textarea {
    padding-top: 20px;
    height: 200px;
}
.choosen .question-details .image {
    height: 40px;
    padding: 5px;
    width: 50%;
}
 .imagelabel::after {
  display: none;
  }
  .submit-details-btn {
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px 25px;
    color: var(--white4);
    background: var(--purple4);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
  }
  .submit-details-btn:hover {
    background: var(--white4);
    color: var(--purple4);
  }
 