@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* ======globals===== */
* {
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --blue: #2a2185;
    --white: #fff;
    --purple: rebeccapurple;
    --purple2: rebeccapurple;
    --black1: #222;
    --black2: #999;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --tran-03: all 0.3s ease;
    --tran-05: all 0.5s ease;
    --white2: #fff;
    --white3: #fff;
    --dark: #1a1a1a;
    --purple3: rebeccapurple;
    --grey: #333;
    --boxshadow: rgba(0, 0, 0, 0.08);
    --white4: #fff;
}


body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--white);
}

body.dark {
    --white: #222;
    --white3: #fff;
    --purple: #333;
    --primary-color-light: #3A3B3C;
    --purple2: #fff;
    --white2: rebeccapurple;
    --dark: #fff;
    --black2: #fff; 
    --grey: #fff;
    --boxshadow: rgba(0, 0, 0, 0.9);
}

.mainD {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: var(--tran-05);
}
.mainD.activeD {
    width: calc(100% - 80px);
    left: 80px;
}

.topbarD {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggleD {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--dark);
}
.searchD {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.searchD label {
    position:relative;
    width: 100%;
}
.searchD label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border:1px solid var(--black2);
}

.searchD label i { 
position: absolute;
top: 0;
left: 10px;
font-size: 1.2rem;
}

.userD {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    font-size: 40px;
    color: var(--dark);
}
.boxes {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.boxes .box1 {
    width: 300px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0px 7px 25px var(--boxshadow);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

.boxes .box1 .icn-bx {
    font-size: 2rem;
}
.boxes .box1:hover {
    background: var(--white2);
    color: var(--purple2);
}
.boxes .box2 {
    background: var(--purple3);
    color: var(--white);
}

.boxes .box0 {
    background: rgb(99, 247, 99);
    color: var(--white);
}
.boxes .box3 {
    background: orangered;
    color: var(--white);
}
.created-quiz {
    border-radius: 20px;
    width: 95%;
    box-shadow: 0px 7px 25px var(--boxshadow);
    margin-left: 20px;
    margin-top: 30px;
}

.created-quiz .all-quiz {
    width: 98%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    
}

.created-quiz .all-quiz .popup {
    margin-top: 10px;
    width: 100%;
    display : block;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 7px 25px var(--boxshadow);
    color: rebeccapurple;
}
.created-quiz .all-quiz .quizName:hover {
    background: #fff;
    color: var(--purple3);
}
.quiz0 {
    display: flex;
    flex-direction: column;
    width: 98%;
    padding: 10px 10px;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}
 .linkQuiz{
    font-weight: 600;
    color: var(--purple3);
    font-size: 1.2rem;
    margin: 10px 0px;
}
.Quiz1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.Quiz1 span {
    display: block;
    width: 100%;
    padding: 10px 0px;
    font-weight: 400;
    font-weight: 1rem;
    color: #444;
}

.all-courses {
    width: 100%;
    padding: 10px 20px;
    color: rgb(99, 247, 99);
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .popup .popuptext {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: rebeccapurple;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: fixed;
    z-index: 3;
    bottom: 125%;
    left: 0%;
    top: 0%;
  }
  .popup .popuptext .pop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 40%;
    height: 150px;
    background: rebeccapurple;
    color: #fff;
    border-radius: 20px;
    padding: 20px; 
  };

  .popup .popuptext .pop span {
    font-size: 2rem;
  }

  .popup .popuptext .pop .link-Quiz {
    display: flex;
    flex-direction: column;
    min-width: 80px;
    background: #fff;
    align-items: space-between;
    color: rebeccapurple;
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 10px;
    text-decoration: none;
  }

  .popup .popuptext .pop .link-Quiz:hover {
    background: #222;
  } 

  .popup .popuptext .pop .link-Quiz i {
    font-size: 2rem;
  }

  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }

  .reveal {
    display: flex;
    flex-direction: column;
  }

  .questionaire{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 400px;
    width: 100%;
    padding: 10px 20px;
    align-items: start;
    border-radius: 20px;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.08);
    overflow-y: auto;
    background: var(--purple3);
    scrollbar-width: none;
  }

  .questionaire .real {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .questionaire .sub, .questionaire .back {
    color: var(--dark);
    padding: 7px 0px;
    font-weight: 600;
  }
  .questionaire .back i {
    font-size: 20px;
  }

  .questionaire .real {
    padding: 10px 0px;
  }

  .questionaire .real span, .questionaire .real p {
    padding: 10px 0px;
    color: var(--white);

  }
  .questionaire .real img {
    width: 200px;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }