.contain5 {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    padding: 40px 0px;
    width: 100%;
    background: #1a1a1a;
    padding-top: 60px;
}
.contain5 h6 {
    width: 150px;
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 20px;
    border: 1px solid #fff;
    margin-bottom: 20px;
}
.contain5 h2 {
    font-size: 27px;
    font-weight: 600;
   
}
.contain5 p {
    font-size: 14x;
    font-weight: 200;
    margin-bottom: 20px;
    color: rgb(248, 255, 237);
    line-height: 30px;
}
.contain5 .cards {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 40px 10px;
    flex-wrap: wrap;
}

.contain5 .cards li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height:320px;
    background: #222;
    list-style: none;
    margin-right: 20px;
    border-radius: 15px;
    padding: 10px 20px;
}
.contain5 .cards li img {
    width: 200px;
}
.contain5 .cards li h4 {
    font-size: 18px;
    line-height: 30px;
}
.contain5 .cards li span {
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    color: rgb(240, 250, 226);
}
.contain5  .lang-cnt {
    display: flex;
    background: #222;
    width: 70%;
    padding: 35px 120px;
    border-radius: 70px;
    color: rebeccapurple;
    justify-content: space-between;
}

.contain5  .lang-cnt .cnt h1 {
    font-size: 30px;
}

.contain5  .lang-cnt .cnt span {
    color: rgb(240, 250, 226);
    line-height: 30px;
    font-weight: 200;
    font-size: 14px;
}

@media screen and (max-width: 1040px) { 
    .contain5 {
        width: 100%;
    }

    .contain5 .cards {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 40px 10px;
        flex-wrap: wrap;
    }

    .contain .cards li {
        width: 300px;
        height: 320px;
        background: #222;
        list-style: none;
        margin-right: 20px;
        border-radius: 15px;
        padding: 10px 20px;
    }
}

@media (max-width: 799px) {
    
    .contain5 .cards {
        padding: 40px 0px;
        flex-wrap: wrap;
    }
    .contain5 .cards li {
        width: 200px;
        height:250px;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 10px 20px;
    }

    .contain5 .cards li h4 {
        font-size: 14px;
        line-height: 20px;
    }
    .contain5 .cards li span {
        font-size: 12px;
        line-height: 18px;
    }

    .contain5 .cards li img {
        width: 170px;
    }
}

@media screen and (max-width: 477px) { 
    .contain5 {
        margin-top: 0px;
        font-size: 10px;
    }
    .contain5 h6 {
        display: flex;
        width: 100px;
        font-size: 10px;
        padding: 7px 0px;
        justify-content: center;
        margin-bottom: 20px;
    }
    .contain5 h2 {
        font-size: 18px;
    }
    .contain5 p {
        line-height: 20px;
    }
    .contain5 .cards {
        padding: 30px 10px;
    }
    .contain5 .cards li {
        width: 80%;
        height: 200px;
        margin-right: 0px;
        margin-bottom: 20px;
        padding: 10px 20px;
    }
    .contain5 .cards li img {
        width: 150px;
    }
    .contain5 .cards li h4 {
        font-size: 14px;
        line-height: 10px;
    }
    .contain5 .cards li span {
        font-size: 10px;
        line-height: 10px;
        margin-top: 10px;
    }
    .contain5  .lang-cnt {
        width: 80%;
        padding: 20px 0px;
        justify-content: center;
        align-items: center;
    }
    .contain5  .lang-cnt .cnt {
        padding: 0 10px;
    }
    .contain5  .lang-cnt .cnt h1 {
        font-size: 20px;
    }
    .contain5  .lang-cnt .cnt span {
        line-height: 20px;
        font-size: 10px;
    }
}